[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
psycopg2-binary = "*"
bcrypt = "*"
pyjwt = "*"
pillow = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
webcolors = "==1.3"
flask-bcrypt = "*"

[requires]
python_version = "3.7"
