@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$primary-color: white;
$dark-color: #2C3E50;
$asphalt: #34495E;

@import "node_modules/spectre.css/src/spectre";

body {
  background-color: $dark-color;
  color: $primary-color;
  font-family: 'Quicksand', sans-serif;
}

header {
  padding: 50px;
  img {
    height: 60px;
  }
  hr {
    height:3px; border:none; color:$asphalt; background-color:$asphalt;
  }
}

.btn {
  background-color: $asphalt;
}

.btn:hover, .btn-selected, .btn:active, .btn:visited {
  background-color: $primary-color;
  color: $dark-color;
}

a:hover {
  text-decoration: none;
}

.empty-state {
  background-color: $asphalt;
  text-align: center;
}

.chip {
  color: $dark-color;
  padding: 10px;
}

.panel {
  margin: 10px;
  background-color: $asphalt;
  border: none;
  border-radius: 10px;
}

.light-back {
  background-color: $asphalt;
}

.pixels-grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex:initial;
}

.pixel {
  border: 1px solid #212121;
}

.pixel:hover {
  border: 3px solid #212121;
}

.avatar {
  img {
    object-fit: cover;
  }
}

.image-preview {
  height: 500px;
  width: 500px;
  img {
    object-fit: cover;
    height: 500px;
    width: 500px;
  }
}

.spinner {
  height: 300px;
  margin-left: 40%
}

.github-logo {
  height:50px;
}
