@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

$primary-color: white;
$dark-color: #2C3E50;
$asphalt: #34495E;

@import "node_modules/spectre.css/src/spectre";

body {
  background-color: $dark-color;
  color: $primary-color;
  font-family: 'Quicksand', sans-serif;
}

header {
  margin: 40px 80px;
  img {
    height: 60px;
  }
  hr {
    height:3px;
    border:none;
    color:$asphalt;
    background-color:$asphalt;
  }
}

.form-input {
  background: $asphalt;
  color: $primary-color;
}

.container {
  min-height: 65vh;
  margin:0px 80px;
  padding-right: 160px;
}

.intro-section {
  margin: 150px 100px 0px 0px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    font-size: 50px;
    border: none;
    padding: 5px;
  }
}

.flex-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0px;
}

.register-section {
  padding: 20px;
  border-radius: 10px;
}

.register-form {
  padding: 0 30%;
}

.input-inline {
  margin: 30px 0px;
}
.btn {
  background-color: $asphalt;
}

.btn:hover, .btn-selected, .btn:active, .btn:visited {
  background-color: $primary-color;
  color: $dark-color;
}

a:hover {
  text-decoration: none;
}

.empty-state {
  background-color: $asphalt;
  text-align: center;
}

.chip {
  color: $dark-color;
  padding: 10px;
}

.project-submit {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    padding: 0px 40px;
  }
}

.panel {
  margin: 10px;
  background-color: $asphalt;
  border: none;
  border-radius: 10px;
}

.light-back {
  background-color: $asphalt;
}

.pixels-column {
  display: flex;
  justify-content: flex-end;
}

.filter-chip {
  margin: 10px 5px;
  padding: 15px;
}

.show-panel {
  margin: 80px 0px;
}

.colors-panel {
  padding: 30px;
  border-radius: 20px;
  .chip {
    padding: 20px 10px;
  }
  .col-4 {
    padding:10px;
  }
  hr {
    height:2px;
    border:none;
    color: $dark-color;
    background-color: $dark-color;
    margin: 20px 0px;
  }
}

.pixels-grid {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  flex:initial;
}

.note-card {
  display: flex;
  margin: 30px 0px;
  border: none;
  .card-header {
    display: flex;
    justify-content: space-between;
  }
  button {
    font-size: 30px;
    border: none;
    padding: 2px;
  }
}

.note-form {
  display: flex;

}

.pixel {
  border: 1px solid #212121;
}

.pixel:hover {
  border: 3px solid #212121;
}

.avatar {
  img {
    object-fit: cover;
  }
}

.image-preview {
  height: 500px;
  width: 500px;
  img {
    object-fit: cover;
    height: 500px;
    width: 500px;
  }
}

.spinner {
  height: 300px;
  margin-left: 40%
}

.github-logo {
  height:50px;
}

.footer-section {
  display: flex;
  align-items: center;
}
